EXPO_PUBLIC_SUPABASE_URL=https://eccilswknqnwseyllsda.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_aX8yRBpkk0qQknlBXAxZhQ_UFsaYxsr
EXPO_PUBLIC_SENTRY_DSN=https://0ae562567844269a248f8e3b80f3dc52@o4511921192435712.ingest.us.sentry.io/4511921198596096
